<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pesapal.sdk">

    <application
        android:name="com.pesapal.sdk.App"
        android:label="@string/app_name">

        <activity
            android:name="com.pesapal.sdk.activity.PesapalPayActivity"
            android:exported="false"
            android:theme="@style/Theme.PayGateway" />
    </application>

</manifest>